<div id="<%= dom_id subscription %>">
  <div>
    <strong>Issue:</strong>
    <%= subscription.issue_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </div>

</div>
